.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.skills-section {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.skills-section h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    flex-grow: 1;
    align-content: center;
}

@media (min-width: 768px) {
    .skills-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    transition: transform 0.3s ease;
}

.skill:hover {
    transform: scale(1.1);
}

.skill img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

@media (min-width: 968px) {
    .skills-container {
        flex-direction: row;
        align-items: stretch;
    }
}